html {
	overflow-y:scroll;
	height:100%;
}
#Body {
	margin:0;
	padding:0!important;
	background:#FFF;
}
body {
	margin:0;
	padding:0;
	background:#FFF;
	height:100%;
}
#Form {
	height:100%;
}
* {
	margin:0;
	padding:0;
	outline:none;
	-webkit-font-smoothing:subpixel-antialiased;
	font-smoothing:subpixel-antialiased;
	text-rendering:optimizeLegibility;
}
/* Main Container Width and styles */
.BGTable {
	padding:0;
	background:#FFF;
}
.siteWidth {
	width:1250px;
	max-width:100%;
	margin:0 auto;
	padding:0 25px;
}
.siteWidth .siteWidth {
	width:100%;
	padding:0;
}
.headerWrap {
	min-height:100px;
	position:relative;
}
.bannerMainFull .headerWrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.bannerMainFull .ContentPane,
.bannerMainFull .ContentPane > div,
.bannerMainFull .ContentPane .fullScreen {
	width:100%;
	height:100%;
}
.homePage .headerWrap {
	background:#BFBFBF;
}
.headerWrap header {
	position:absolute;
	width:100%;
	z-index: 19;
}
.is-sticky {
	-webkit-transition:all 0.4s linear;
	-moz-transition:all 0.4s linear;
	-o-transition:all 0.4s linear;
	transition:all 0.4s linear;
}
.headerWrap header.header2 {
	bottom:-100px;
	z-index: 9;
}
.homePage .headerWrap header.header2 {
	bottom:0;
}
.headerMain,.headerMain2 {
	min-height:100px;
	padding:0;
	width:100%;
	background:rgba(0,0,0,0.25);
	z-index:999;
}
.headerMain2 {
	background:#FFF;
	-webkit-box-shadow:0 0 3px 0 rgba(0,0,0,0.15);
	-moz-box-shadow:0 0 3px 0 rgba(0,0,0,0.15);
	box-shadow:0 0 3px 0 rgba(0,0,0,0.15);
	-webkit-transition:all 0.4s linear;
	-moz-transition:all 0.4s linear;
	-o-transition:all 0.4s linear;
	transition:all 0.4s linear;
}
.homePage .headerMain2 {
	opacity:0;
}
.is-sticky .headerMain2 {
	opacity:1;
}
.headerMain .siteWidth,
.headerMain2 .siteWidth {
	position:relative;
	padding:0 50px;
}
/*.showControlBar .headerMain .siteWidth {
	margin:54px auto 0;
}*/
.showControlBar .is-sticky .headerMain2 {
	margin-top:53px;
}
.logoMain {
	margin:0;
	padding:0;
	float:left;
	max-width:100%;
}
.logoMain img {
	height:auto;
	margin:0;
	max-width:100%;
	padding: 20px 0;
	-webkit-transition:all 0.6s linear;
	-moz-transition:all 0.6s linear;
	-o-transition:all 0.6s linear;
	transition:all 0.6s linear;
}
.homeSkin .headerMain2 .logoMain img {
	padding: 0;
}
.homeSkin .is-sticky .headerMain2 .logoMain img {
	padding: 20px 0;
}
.menuMain {
	float:right;
	text-align:right;
}
.is-sticky .menuMainInner {
	display:none;
}
.mobileMenuMain {
	float:right;
	display:block;
	padding:0;
	margin:30px 0 0;
}
.menuButtonWrap,
.is-sticky .CTAButtonWrap {
    opacity: 1;
    height: auto;
	-webkit-transition:all 0.4s linear;
	-moz-transition:all 0.4s linear;
	-o-transition:all 0.4s linear;
	transition:all 0.4s linear;
}
.is-sticky .menuButtonWrap,
.CTAButtonWrap {
    opacity: 0; 
    height: 0;
    overflow: hidden;
	-webkit-transition:all 0.4s linear;
	-moz-transition:all 0.4s linear;
	-o-transition:all 0.4s linear;
	transition:all 0.4s linear;
}

/* Content Panes */
.myPane {
	padding:0;
}
.ContentPane {
	width:auto;
}
.TopBarPane {
	float:left;
}
/* Pane Wrappers */
.contentMain {
	padding:0;
	margin:0;
/*	min-height:300px;*/
}
.adminPage .contentMain {
	min-height:600px;
}
.bannerMain {
}
.bannerMainFull {
	width:100%;
	height:100%;
}
.greyMain {
	background:#F8F8F8;
}
.NoPad, .noPad, nopad {
	padding:0 !important;
}
.DNNEmptyPane {
	display:none!important;
}
/* Font style */
body, html, table, th, td, div, p, li, blockquote, h1, h2, h3, h4, h5, h6, .Normal {
	color:#1B1B1B;
	font-size:16px;
	line-height:1.6em;
	text-decoration:none;
	font-weight:normal;
}
body, html, table, td, div, p, li, blockquote, .Normal, .slab {
	font-family: 'Roboto Slab', serif;
}
.lato {
	font-family:'Lato', Arial, sans-serif;
}
th, h1, h2, h3, h4, h5, h6 {
	font-family:'Lato', Arial, sans-serif;
}
p {
	margin:0 0 2em;
}
p.larger {
	font-size:18px;
}
td {
	text-align:left;
	vertical-align:top;
}
ul {
	margin:0 0 20px 20px;
}
img {
	border:none;
	outline:none;
	max-width:100%;
	height:auto;
}
.mediaWrapper {
	position:relative;
	padding-bottom:56.25%;
	height:0;
}
.mediaWrapper iframe, .mediaWrapper embed, .mediaWrapper object {
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}
iframe {
	display:block;
}
* {
	outline:none !important;
}
br {
	margin:0;
	padding:0;
	height:0;
}
hr {
	border:0;
	border-bottom:1px dotted #E5E5E5 !important;
	clear:both;
	padding:0;
	margin:20px 0;
}
/* Default link syle */
a, a:link, a:visited, a:active {
	color:#F04F30;
	text-decoration:none;
	outline:none;
	cursor:pointer;
	-webkit-transition:all 0.4s linear;
	-moz-transition:all 0.4s linear;
	-o-transition:all 0.4s linear;
	transition:all 0.4s linear;
}
a:hover, a:focus {
	color:#BBB;
	text-decoration:none;
}
.NormalBold {
	color:inherit;
	font-weight:bold;
}
/* Headings */
H1, .h1 {
	font-size:38px;
	margin:0 0 0.65em;
	line-height:1.1em;
}
H1.larger {
	font-size:54px;
}
H2, .h2 {
	font-size:36px;
	margin:0 0 0.65em;
	line-height:1.1em;
}
H3, .h3 {
	font-size:30px;
	margin:0 0 0.65em;
	line-height:1.1em;
}
H4, .h4 {
	font-size:24px;
	margin:0 0 0.75em;
	line-height:1.1em;
}
H5, .h5 {
	font-size:18px;
	margin:0 0 0.75em;
	line-height:1.1em;
}
H6, .h6 {
	font-size:16px;
	margin:0 0 0.75em;
	line-height:1.1em;
}
small {
	font-size:0.8em;
}
.NoPadding {
	padding:0!important;
}
/* Module Classes */
.Head {
	color:#7E7E7E;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
}
a.Head:Link, a.Head:Visited, a.Head:Active {
	color:#F04F30;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
}
a.Head:Hover {
	color:#F04F30;
	text-decoration:none;
}
/* SubHead */
.SubHead {
	color:#7E7E7E;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
}
a.SubHead:Link, a.SubHead:Visited, a.SubHead:Active {
	color:#F04F30;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
}
a.SubHead:Hover {
	color:#F04F30;
	text-decoration:none;
}
/* Module title style used instead of Head for compact rendering by QuickLinks and Signin modules */
.SubSubHead {
	color:#7E7E7E;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	font-size:12px;
}
a.SubSubHead:Link, a.SubSubHead:Visited, a.SubSubHead:Active {
	color:#F04F30;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}
a.SubSubHead:Hover {
	color:#F04F30;
	text-decoration:none;
}
/* Text style for skin objects */
.SkinObject {
	color:#7E7E7E;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
}
a.SkinObject:Link, a.SkinObject:Visited, a.SkinObject:Active {
	color:#F04F30;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
}
a.SkinObject:Hover {
	color:#F04F30;
	text-decoration:none;
}
/*=====================================================================*/

/* Input and Other Admin Site Styles                                   */

/*=====================================================================*/

/* Normal Text Box */
.NormalTextBox {
	font-family: 'Roboto Slab', serif;
	color:#817A74;
	font-size:16px;
	font-weight:normal;
	vertical-align:middle;
	border:1px solid #EEE;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	line-height: 34px;
	padding:0 10px;
}
input[type="text"], select, textarea, input[type="email"], input[type="search"], input[type="password"] {
	font-family: 'Roboto Slab', serif;
	border:1px solid #CCC;
	margin-bottom:10px;
	vertical-align:top;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	line-height: 34px;
	height: 34px;
	padding:0 10px;
	-webkit-box-shadow:0 3px 2px rgba(0, 0, 0, 0.15) inset;
	-moz-box-shadow:0 3px 2px rgba(0, 0, 0, 0.15) inset;
	box-shadow:0 3px 2px rgba(0, 0, 0, 0.15) inset;
}
textarea {
	line-height: 24px;
	padding:10px;
	height: 122px;
}
#ControlBar input[type="text"], #ControlBar select, #ControlBar textarea, #ControlBar input[type="email"], #ControlBar input[type="search"], #ControlBar input[type="password"] {
	line-height: 16px;
	height: 16px;
}
input[type="text"], select, textarea, input[type="email"], input[type="search"], input[type="password"] {
	/*border:0;*/
}
select option, .dnnFormItem select option {
	text-indent:7px;
}
select::-ms-expand, .dnnFormItem select::-ms-expand {
	display:none;
}
::-webkit-input-placeholder {
	color:#817A74;
}
::-moz-placeholder {  /* Firefox 19+ */
	color:#817A74;  
}
:-ms-input-placeholder {  
	color:#817A74;  
}

/* Admin link styles */
a.CommandButton:link, a.CommandButton:visited, a.CommandButton:active {
	color:#F04F30;
}
a.CommandButton:hover {
	color:#666;
}
/* button style for standard HTML buttons */
.StandardButton, a.StandardButton:Link, a.StandardButton:Visited, a.StandardButton:Active {
	color:#F04F30;
}
a.StandardButton:Hover {
	color:#666;
}

/* Skin Tokens */
/* Breadcrumb Pane */
.breadcrumbMain {
	font-size:0;
}
.breadcrumbMain .siteWidth {
	padding:0 50px;
}
.breadLeft {
	float:left;
	min-height:30px;
	padding:25px 0 25px;
	display:block;
}
.breadRight {
	float:right;
	min-height:25px;
	padding:25px 0 25px;
	display:block;
	color:#BBB;
	text-transform:uppercase;
}
.breadcrumbMain h3 {
	font-size:22px;
	line-height:22px;
	display:block;
	padding:0;
	margin:0;
	color:#BBB;
	font-weight:900;
	text-transform:uppercase;
}
a.breadcrumbText {
	color:#BBB;
	font-size:14px;
	font-weight:normal;
	line-height:20px;
	display:inline-block;
	font-family:'Lato', Arial, sans-serif;
}
a:hover.breadcrumbText:last-child,
a.breadcrumbText:hover {
	opacity:0.7;
}
.breadSep {
	padding:0 10px;
}

/* Footer */
.Footer {
	padding:10px 0 50px;
	background:#1B1B1B url(../images/footer-radial.png) no-repeat 50% 50%;
	text-align:center;
    position: relative;
}
.Footertxt, a.Footertxt {
	font-size:11px;
	color:#FFF;
	white-space:nowrap;
	padding:0 10px;
	font-family:'Lato', Arial, sans-serif;
}
a.Footertxt:hover {
	text-decoration:none;
	color:#DDD;
}
a.footerLink {
	font-size:16px;
	color:#FFF;
	white-space:nowrap;
	padding:5px 10px;
	font-family:'Lato', Arial, sans-serif;
	display:inline-block;
	text-decoration: none !important;
}
a.footerLink:hover {
	text-decoration:none;
	color:#DDD;
}
a.footerLink em {
	color:#FFF;
	text-decoration: none !important;
}
a.footerLink:hover em {
	color:#DDD;
}
.footerMain * {
	color:#817A74;
}
.footerMain th, .footerMain td, .footerMain div, .footerMain p, .footerMain li, .footerMain blockquote, .footerMain .Normal {
	font-size:14px;
}
.footerMain a {
	color:#FFF;
}
.footerMain a:hover {
	color:#DDD;
}
/* scrolls */
#topContent {
	background:#888;
	color:#FFF;
	bottom:25px;
	height:40px;
	font-size: 30px;
	line-height:37px;
	opacity:0.4;
	overflow:hidden;
	position:fixed;
	right:25px;
	width:40px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	display:block;
	z-index: 999;
	text-align:center;
}
#topContent .fa {
	line-height:inherit;
}
.goContent {
	cursor:pointer;
}

/* DNN Buttons */
.dnnPrimaryAction, 
a.dnnPrimaryAction, 
.dnnFormItem input[type="submit"], 
.dnnFormItem input[type="submit"]:hover, 
.dnnFormItem input[type="submit"]:active, 
.dnnFormItem input[type="submit"]:focus, 
.dnnPrimaryAction:hover, 
a.dnnPrimaryAction:hover, 
.dnnPrimaryAction:active, 
a.dnnPrimaryAction:active, 
.dnnPrimaryAction:focus, 
a.dnnPrimaryAction:focus, 
.dnnSecondaryAction, 
a.dnnSecondaryAction, 
.dnnSecondaryAction:hover, 
a.dnnSecondaryAction:hover, 
.dnnSecondaryAction:active, 
a.dnnSecondaryAction:active, 
.dnnSecondaryAction:focus, 
a.dnnSecondaryAction:focus, 
.dnnTertiaryAction, 
a.dnnTertiaryAction, 
.dnnTertiaryAction:hover, 
a.dnnTertiaryAction:hover, 
.dnnTertiaryAction:active, 
a.dnnTertiaryAction:active, 
.dnnTertiaryAction:focus, 
a.dnnTertiaryAction:focus {
	font-family:'Lato', Arial, sans-serif;
	color:#FFF!important;
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	background:#F04F30;
	text-decoration:none!important;
	text-shadow:none;
	letter-spacing:0;
	-webkit-box-shadow:0 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow:0 0 0 0 rgba(0,0,0,0);
	box-shadow:0 0 0 0 rgba(0,0,0,0);
	cursor:pointer;
	-webkit-border-radius:2px !important;
	-moz-border-radius:2px !important;
	border-radius:2px !important;
	border:0!important;
	padding:7px 14px !important;
	display:inline-block;
	line-height:20px !important;
	-webkit-transition:all 0.4s linear;
	-moz-transition:all 0.4s linear;
	-o-transition:all 0.4s linear;
	transition:all 0.4s linear;
}
.dnnFormItem input[type="submit"]:hover, 
.dnnFormItem input[type="submit"]:active, 
.dnnFormItem input[type="submit"]:focus, 
.dnnFormItem input[type="submit"].dnnSecondaryAction:hover, 
.dnnFormItem input[type="submit"].dnnSecondaryAction:active, 
.dnnFormItem input[type="submit"].dnnSecondaryAction:focus, 
.dnnFormItem input[type="submit"].dnnTertiaryAction:hover, 
.dnnFormItem input[type="submit"].dnnTertiaryAction:active, 
.dnnFormItem input[type="submit"].dnnTertiaryAction:focus, 
.dnnPrimaryAction:hover, a.dnnPrimaryAction:hover, .dnnPrimaryAction:active, a.dnnPrimaryAction:active, .dnnPrimaryAction:focus, a.dnnPrimaryAction:focus {
	background:#817A74;
}
.dnnFormItem input[type="submit"].dnnSecondaryAction, 
.dnnSecondaryAction, a.dnnSecondaryAction {
	background:#13A3AA;
}
.dnnSecondaryAction:hover, a.dnnSecondaryAction:hover, .dnnSecondaryAction:active, a.dnnSecondaryAction:active, .dnnSecondaryAction:focus, a.dnnSecondaryAction:focus {
	background:#817A74;
}
.dnnFormItem input[type="submit"].dnnTertiaryAction, 
.dnnTertiaryAction, a.dnnTertiaryAction {
	background:#1B1B1B;
}
.dnnTertiaryAction:hover, a.dnnTertiaryAction:hover, .dnnTertiaryAction:active, a.dnnTertiaryAction:active, .dnnTertiaryAction:focus, a.dnnTertiaryAction:focus {
	background:#817A74;
}
.dnnPrimaryAction + .dnnPrimaryAction, 
.dnnPrimaryAction + .dnnSecondaryAction, 
.dnnPrimaryAction + .dnnTertiaryAction, 
.dnnSecondaryAction + .dnnPrimaryAction, 
.dnnSecondaryAction + .dnnSecondaryAction, 
.dnnSecondaryAction + .dnnTertiaryAction,
.dnnTertiaryAction + .dnnPrimaryAction, 
.dnnTertiaryAction + .dnnSecondaryAction, 
.dnnTertiaryAction + .dnnTertiaryAction {
	margin-left:10px;
}
.header2 .dnnPrimaryAction + .dnnPrimaryAction, 
.header2 .dnnPrimaryAction + .dnnSecondaryAction, 
.header2 .dnnPrimaryAction + .dnnTertiaryAction, 
.header2 .dnnSecondaryAction + .dnnPrimaryAction, 
.header2 .dnnSecondaryAction + .dnnSecondaryAction, 
.header2 .dnnSecondaryAction + .dnnTertiaryAction,
.header2 .dnnTertiaryAction + .dnnPrimaryAction, 
.header2 .dnnTertiaryAction + .dnnSecondaryAction, 
.header2 .dnnTertiaryAction + .dnnTertiaryAction {
	margin-left:0;
}
a.dnnDisabledAction:link, a.dnnDisabledAction:visited, a.dnnDisabledAction:active, a.dnnDisabledAction:hover {
	background: none repeat scroll 0 0 #817A74;
	color: #CCC;
	opacity: 0.6;
	text-decoration: none;
}
.medButton, .medButton:hover, .medButton:active, .medButton:focus,
a.medButton, a.medButton:hover, a.medButton:active, a.medButton:focus {
	font-size:16px !important;
	padding:10px 14px !important;
}
.largeButton, .largeButton:hover, .largeButton:active, .largeButton:focus,
a.largeButton, a.largeButton:hover, a.largeButton:active, a.largeButton:focus {
	font-size:18px !important;
	padding:18px 20px !important;
}

/* Content Styles */
.light {
	font-weight:300;
}
.normal {
	font-weight:normal;
}
strong,.strong,b,.bold {
	font-weight:bold;
}
.bold.lato,.bold .lato,
.extrabold {
	font-weight:900;
}
.centerMe {
	float:none;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.hideMe {
	display:none;
}
/* Invert */
.invert {
	color:#FFF !important;
}
.invert h1, .invert h2, .invert h3, .invert h4, .invert h5, .invert h6,
.invert th, .invert td, .invert div, .invert p, .invert li, .invert blockquote, .invert .Normal {
	color:#FFF;
}
.invert input[type="text"], .invert select, .invert textarea, .invert input[type="email"], .invert input[type="search"], .invert input[type="password"] {
	color:#817A74;
}
.invert a,
.invert a * {
	color:#FFF;
	text-decoration:underline;
}
.invert a:hover,
.invert a:hover * {
	color:#FFF;
	text-decoration:underline;
	opacity:0.7;
}
/* line height */
.line-height-100 {
	line-height:100%;
}
.line-height-150 {
	line-height:150%;
}
/* font */
.uppercase {
	text-transform:uppercase;
}
/* images */
.imgLeft {
	float:left;
	margin:0 15px 5px 0;
	padding:3px;
	border:1px solid #F2F2F2;
}
.imgRight {
	float:right;
	margin:0 0 5px 15px;
	padding:3px;
	border:1px solid #F2F2F2;
}
.imgCenter {
	float:none;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	padding:3px;
	border:1px solid #F2F2F2;
}
.imgBorder {
	border: 1px solid #f2f2f2;
    padding: 3px;
}
/* floats */
.FloatLeft {
	float:left;
}
.FloatRight {
	float:right;
}
.FloatNone {
	float:none;
}
.ClearFloat,.clearfix {
	clear:both!important;
	height:0!important;
	line-height:0!important;
	font-size:0!important;
	margin:0!important;
	padding:0!important;
}
/* lists */
ul.list {
	list-style:none outside none;
	margin:0 0 20px;
	padding-left:0;
}
.list li:before {
	content:"";
	font-family:FontAwesome;
	margin-right:10px;
	position:relative;
	top:0;
	left:2px;
	color:#F04F30;
}
.list li + li {
	margin-top:13px;
}
.list li:last-child {
	margin-bottom:13px;
}
.list.square li:before {
	content:"";
}
.list.square-check li:before {
	content:"";
}
.list.circle li:before {
	content:"";
}
.list.circle-arrow li:before {
	content:"";
}
.list.hand li:before {
	content:"";
}
.list.triangle li:before {
	content:"";
}
.list.arrow li:before {
	content:"";
}
.list.circle-check li:before {
	content:"";
}
ol.list {
	list-style:decimal outside none;
	padding-left:19px;
}
ol.list li {
	padding-left:7px;
}
ol.list li:before {
	display:none;
}
/* social bar */
ul.social {
	margin:0;
	padding:0;
}
ul.social li {
	display:inline-block;
	font-size:16px;
	line-height:40px;
	letter-spacing:1em;
}
ul.social li:last-child {
	letter-spacing:0;
}
ul.social li a {
	color:#CCC;
}
ul.social li a:hover {
	color:#333;
}
.footerPanes ul.social li a {
	color:#817A74;
}
.footerPanes ul.social li a:hover {
	color:#DDD;
}
/* Bootstrap fix */
ul.media-list {
	margin-left:0;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus, .panel-primary > .panel-heading {
	background-color:#F04F30;
	background-image:linear-gradient(to bottom, rgba(255,255,255,0.25) 0px, rgba(255,255,255,0) 100%);
}
.panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5, .panel-heading h6, .panel-heading .h1, .panel-heading .h2, .panel-heading .h3, .panel-heading .h4, .panel-heading .h5, .panel-heading .h6 {
	color:inherit;
}
a.btn {
	transition:none;
}
a.btn-primary, a.btn-success, a.btn-info, a.btn-warning, a.btn-danger {
	color:#FFF;
}
a.list-group-item.active > .badge, .nav-pills > .active > a > .badge, .btn-primary .badge {
	color:#F04F30;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	text-shadow:none;
}
.nav .caret {
	border-bottom-color:#F04F30;
	border-top-color:#F04F30;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .panel-primary > .panel-heading, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
	background-color:#F04F30;
	border-color:#F04F30;
	background-image:linear-gradient(to bottom, rgba(255,255,255,0.25) 0px, rgba(255,255,255,0) 100%);
}
.panel-primary {
	border-color:#F04F30;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
	background-color:#F04F30;
	border-color:#F04F30;
	opacity:0.75;
}
a.list-group-item.active .list-group-item-text, a.list-group-item.active:hover .list-group-item-text, a.list-group-item.active:focus .list-group-item-text {
	color:rgba(255,255,255,0.75);
}
.nav {
	margin:0;
}

/* Chrome Bug Last Word Wrapping */
h1:after, h2:after, h3:after, h4:after, h5:after, h6:after,
.breadRight:after {
	content:'‌'; /* Zero Width Non-Joiner Invisible Character */
	font-family:Arial, Helvetica, sans-serif;
	width:1px;
	height:1px;
	overflow:hidden;
	float:right;
}

