@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,900,900italic,700italic,700|Roboto+Slab:400,700);
@import url("css/animate.min.css");
@import url("css/owl.carousel.css");
@import url("css/owl.theme.css");
@import url("css/owl.transitions.css");
@import url("css/snippets.css");
@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css");
@import url("css/bootstrapBeyond.css");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("css/skin.min.css");
@import url("css/modules.css");
@import url("css/container.css");
@import url("css/content.min.css");
@import url("css/mobile.css");
@import url("css/responsive.helpers.css");
@import url("css/system.css");

.stewardFooter {
    width: 100%;
    height: 40px;
    margin-top: 1em;
    padding: 0.5em 0;
    position: absolute;
    bottom: 0;
}
    .stewardFooter span {
        height: 35px;
        line-height: 35px;
        padding-bottom: 0.5em;
        position: relative;
        top: -5px;
    }